<ion-view view-title="Login">
  <ion-content class="padding" style="background-color: lightsalmon">
   <div class="buffer" style="height: 130px"></div>
    
    <h1 align="center" style="color: white">CLONE v.1</h1>
    <div class="row">
      <div class="col col-33 col-offset-33">
        <button class="button" style="width 100%; padding: 10%; background-color: transparent; border: 1px white solid; border-radius: 50%" ng-click="emailLogin()">
        <i style="font-size: 50px; color: white" class="ion-ios-email-outline"></i>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
